<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zf.nastest.mapper.HtmlMapper">

    <!-- 结果映射 -->
    <resultMap id="HtmlResultMap" type="zf.nastest.entity.HtmlScore">
        <id property="id" column="id"/>
        <result property="link" column="link"/>
        <result property="title" column="title"/>
        <!-- 其他字段映射 -->
    </resultMap>

    <select id="selectHtml" resultType="zf.nastest.entity.HtmlScore">
        SELECT * FROM html
    </select>

    <insert id="insertHtml" parameterType="zf.nastest.entity.HtmlScore">
        INSERT INTO html (link, title)
        VALUES (#{link}, #{title})
    </insert>

    <delete id="deleteHtml" parameterType="java.lang.Long">
        DELETE FROM html WHERE id = #{id}
    </delete>

    <update id="updateHtml" parameterType="zf.nastest.entity.HtmlScore">
        UPDATE html
        SET link = #{link},
            title = #{title}
        WHERE id = #{id}
    </update>

</mapper>